# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.flattened-pom.xml
dependency-reduced-pom.xml
build.log
release.properties
.mvn/wrapper/maven-wrapper.jar

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - Eclipse
.settings/
.project
.classpath
.factorypath

# IDE - VS Code
.vscode/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Agent
.agent/